@import "../../../commom/commom.scss";
.products-container {
  margin-top: 60px;
  @media (max-width: 768px) {
    margin-top: 0px;
  }
  min-height: calc(100vh - 120px);
  .products-top {
    margin: 30px 0;
    width: 100%;
    min-height: 450px;
    background-image: url("/images/products/翻轉蘋果蛋糕b.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 40%;
    @media (max-width: 768px) {
      background-size: 700px;
    }
  }
  .products-coupon {
    min-height: 280px;
    margin-bottom: 20px;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .products-coupon-detail-1,
    .products-coupon-detail-2 {
      width: 50%;
      height: 250px;
      background-color: #fff;
      @media (max-width: 768px) {
        width: 80%;
        height: 200px;
      }
    }
    .products-coupon-detail-1 {
      margin-right: 20px;
      @media (max-width: 768px) {
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
  }
  .products-select {
    ul {
      @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
      }
      li {
        padding: 10px;
        width: 150px;
        text-align: center;
        background-color: #e2b290e3;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          font-weight: 700;
          letter-spacing: 7px;
          transition: 0.3s;
        }

        @media (max-width: 576px) {
          margin: 10px 0;
        }
      }
    }
    hr {
      border: solid 0.5px $footer-color;
    }
  }

  .products-product {
    margin: 40px 0 40px 0;
    @media (max-width: 768px) {
      margin: 0px 0px 0px 0px;
    }
    .products-card {
      position: relative;
      justify-content: center;
      width: 30%;
      height: 260px;
      margin: 15px 15px;
      background-color: #fff;
      .img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        -moz-background-size: cover;
        background-size: cover;
      }
      &:hover .img {
        opacity: 0.5;
        transition: 0.5s;
      }
      cursor: pointer;
      .detail {
        background-color: #e2b290e3;
        display: none;
        position: absolute;
        z-index: 10;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        span {
          padding: 10px;
        }
        span:nth-child(1) {
          color: rgb(68, 24, 24);
          font-size: 24px;
        }
        span:nth-child(2) {
          color: rgb(68, 24, 24);
          font-size: 16px;
        }
      }
      div,
      &:hover .detail {
        position: absolute;
        display: flex;
        z-index: 10;
        color: $footer-color;
        transition: 0.5s;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin: 10px 0;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  //---------------product-shop
  .product-shop {
    display: none;
    position: fixed;
    width: 750px;
    height: 430px;
    background-color: $main-color;
    z-index: 999;
    left: 50%;
    top: calc(50% + 30px);
    transform: translate(-50%, -50%);
    padding: 60px;
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 50px;
      background-color: #fff;
      width: 50px;
      div:nth-child(1) {
        position: absolute;
        width: 40px;
        border: 1px solid;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
      }
      div:nth-child(2) {
        position: absolute;
        width: 40px;
        border: 1px solid;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
      }
      &:hover div:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:hover div:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:hover {
        border-radius: 50%;
        transition: 0.3s;
      }
      background-color: #fff;
      cursor: pointer;
    }
    .product-bg {
      background-color: black;
    }
    .product-shop-left {
      width: 60%;
      img {
        width: 350px;
        object-fit: cover;
      }
    }
    .product-shop-right {
      margin-left: 20px;
      width: 40%;
      h1 {
        font-size: 42px;
        font-weight: 700;
        height: 100px;
      }
      p {
        height: 100%;
        line-height: 30px;
      }
      select {
        cursor: pointer;
      }
      .love {
        cursor: pointer;
      }
      .cart {
        cursor: pointer;
      }
    }
  }
}
